extends layout

append head
    link(rel='stylesheet', href='/stylesheets/create-group.css')

block content
    - const isViewAnyone = form_data.group_view_mode == 'anyone'
    - const isViewMembers = form_data.group_view_mode == 'members-only'

    - const isPostAnyone = form_data.group_post_mode == 'anyone-that-can-view'
    - const isPostMembers = form_data.group_post_mode == 'only-flagged-members'

    - const isCommentAnyone = form_data.group_comment_mode == 'anyone-that-can-view'
    - const isCommentMembers = form_data.group_comment_mode == 'only-flagged-members'

    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post")
        div
            label(for="name" id="l_name") Group Name
            input(name="name" id="name" value=form_data.name)
        div Who can view?
            div
                input(type="radio" name="group_view_mode" id="group_view_mode0" value="anyone" checked=isViewAnyone)
                label(for="group_view_mode0") anyone

            div
                input(type="radio" name="group_view_mode" id="group_view_mode1" value="members-only" checked=isViewMembers)
                label(for="group_view_mode1") only members
        div Who can post?
            div
                input(type="radio" name="group_post_mode" id="group_post_mode0" value="anyone-that-can-view" checked=isPostAnyone)
                label(for="group_post_mode0") any user that can view

            div
                input(type="radio" name="group_post_mode" id="group_post_mode1" value="only-flagged-members" checked=isPostMembers)
                label(for="group_post_mode1") only members that have "poster" checked
        div Who can comment?
            div
                input(type="radio" name="group_comment_mode" id="group_comment_mode0" value="anyone-that-can-view" checked=isCommentAnyone)
                label(for="group_comment_mode0") any user that can view

            div
                input(type="radio" name="group_comment_mode" id="group_comment_mode1" value="only-flagged-members" checked=isCommentMembers)
                label(for="group_comment_mode1") only members that have "commenter" checked
        div
            input(type="submit" value="Create Group")
