extends layout

append head
    link(rel='stylesheet', href='/cillmit99b/following.css')

mixin unfollowLink(username, publicId)
    a(href=`/following?unfollow=${publicId}` class="unfollow" title=`unfollow ${username}`) -

block content
    h2.pageh1 Following

    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post" action="/following")
        div
            label(for="username") Username
            input(name="username" id="username" value=formUsername)
        div
            input(type="submit" value="Follow")

    div
        each f in followees
            | 
            |#{f.username}
            | 
            +unfollowLink(f.username, f.public_id)
            |,
