extends group-admin

append head
    link(rel='stylesheet', href='/styleapple3/admin-settings.css')

block content3
    - const isPostAnyone = group_post_mode == 'anyone-that-can-view'
    - const isPostMembers = group_post_mode == 'only-flagged-members'

    - const isCommentAnyone = group_comment_mode == 'anyone-that-can-view'
    - const isCommentMembers = group_comment_mode == 'only-flagged-members'

    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post")
        .admin-settings-con
            div Who can post?
            div
                input(type="radio" name="group_post_mode" id="group_post_mode0" value="anyone-that-can-view" checked=isPostAnyone)
                label(for="group_post_mode0") any user that can view

            div
                input(type="radio" name="group_post_mode" id="group_post_mode1" value="only-flagged-members" checked=isPostMembers)
                label(for="group_post_mode1") only members that have "poster" checked

        .admin-settings-con
            div Who can comment?
            div
                input(type="radio" name="group_comment_mode" id="group_comment_mode0" value="anyone-that-can-view" checked=isCommentAnyone)
                label(for="group_comment_mode0") any user that can view

            div
                input(type="radio" name="group_comment_mode" id="group_comment_mode1" value="only-flagged-members" checked=isCommentMembers)
                label(for="group_comment_mode1") only members that have "commenter" checked

        input(type="submit" value="Save")
