extends group

block content2
    if posts.length
        .posts

            each post in posts
                div
                    if post.link === null
                        a(href=`/g/${name}/${post.public_id}`) #{post.title}
                    else
                        a(href=post.link)= post.title

                    div
                        | by #{post.username}
                        | on #{post.created_on}
                        | | 
                        a(href=`/g/${name}/${post.public_id}`) comments(#{post.num_comments})
    else
        span no posts
