extends group

block content2
    if posts.length
        .posts

            each post in posts
                div
                    a(href=`/g/${name}/${post.public_id}`) #{post.title}
                    div by #{post.username} on #{post.created_on}
    else
        span no posts
