extends group

mixin commentContent(comment)
    | #{comment.text_content} 
    em !{'&ndash;'}#{comment.username} 
    | Jun 23 2020 1:43am 
    | #[a(href="#") reply] 
    | #[a(href=`/g/${name}/${post_public_id}/${comment.public_id}`) permalink]

block content2
    div by #{comment.username} on #{comment.created_on}
    div #{comment.text_content}
    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post")
        textarea(name="text_content" placeholder="write a comment")
        input(type="submit" value="Submit Comment")
    div
        if comments.length
            - let currIndent = comments[0].path.split('.').length - 2
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li>
                    +commentContent(comment)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li>
                        +commentContent(comment)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li>
                        +commentContent(comment)
                    else
                        </li><li>
                        +commentContent(comment)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
