extends layout

block head
    link(rel='stylesheet', href='/styletreats/group.css')

block content
    h1 g/#{name}
    nav.post-nav
        ul
            li
                a(href=`/g/${name}`) posts
            li
                a(href=`/g/${name}/new`) new post
            if is_admin
                li
                    a(href=`/g/${name}/admin`) admin
            if false
                li
                    a(href=`/g/${name}/moderate`) moderate

    block content2
