extends group-admin

block content3
    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post")
        input(name="username" placeholder="username")
        input(type="submit" value="Add as Member")

    if members.length
        table
            each m in members
                tr
                    td #{m.username}
                    td
                        input(type="checkbox" id=`mod-${m.user_id}` name="is_moderator" value="1" form=`save-${m.user_id}` checked=m.is_moderator)
                        label(for=`mod-${m.user_id}`) moderator
                    td
                        form(method="post" id=`save-${m.user_id}`)
                            input(type="submit" value="Save")
                            input(type="hidden" name="save_user_id" value=`${m.user_id}`)
                    td
                        form(method="post")
                            input(type="submit" value="Remove")
                            input(type="hidden" name="remove_user_id" value=`${m.user_id}`)