extends layout

include bbCodes.pug

mixin followLink(username)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const goto = encodeURIComponent(`/inbox${pagePart}`)
    a(href=`/following?follow=${username}&goto=${goto}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const goto = encodeURIComponent(`/inbox${pagePart}`)
    a(href=`/following?unfollow=${username}&goto=${goto}` class="unfollow" title=`unfollow ${username}`) -

mixin commentContent(comment)

    if comment.is_visible
        +bbCodes(comment.text_content)
        | 
        span(class="cuser") !{'&ndash;'}#{comment.username}

        if !user || (comment.user_id != user.user_id)
            if comment.is_follow
                +unfollowLink(comment.username)
            else
                +followLink(comment.username)

        | 
        span(class="cdate") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply
    else
        span(class="cuser2") !{'&ndash;'}#{comment.username}

        if !user || (comment.user_id != user.user_id)
            if comment.is_follow
                +unfollowLink(comment.username)
            else
                +followLink(comment.username)

        | 
        span(class="cdate2") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply

block content
    if comments.length
        .comments
            ul
                for c in comments
                    li
                        +commentContent(c)
        div
            a(href=`/inbox?p=${page + 1}`) more
    else
        span no comments
