extends layout

append head
    link(rel='stylesheet', href='/stylesheets/moderator.css')

block content
    nav.mod-nav
        a#mon-posts-but(href="/moderator") posts
        | 
        a#mod-comments-but(href="/moderator?what=comments") comments

    if posts.length
        .mod-posts

            each post in posts
                -
                    let conClasses = []
                    const canDelete = user.is_super_admin || post.is_group_moderator

                    if(canDelete && post.is_removed) {
                        conClasses.push('removed-row')
                    }

                    conClasses.push(post.is_user_post_spam
                        ? 'spam-row' : 'not-spam-row')

                div(class=conClasses)
                    if post.link === null
                        a(href=`/g/${post.group_name}/${post.public_id}`)= post.title
                    else
                        a(href=post.link)= post.title

                    div.mod-post-header
                        | by #{post.username}
                        | on #{post.created_on}
                        | to 
                        a(href=`/g/${post.group_name}`) #{post.group_name}
                        | 
                        || 

                        a(href=`/g/${post.group_name}/${post.public_id}`) comments(#{post.num_comments})

                        | 
                        if canDelete
                            span(class="spam-count") +#{post.num_spam_votes}

                            if !post.is_removed
                                | 
                                form(method="post" action=`/moderator?p=${page}&before=${before}`)
                                    input(type="submit" value="Remove")
                                    input(type="hidden" name="remove_post_id" value=post.public_id)

                        if !post.is_user_post_spam
                            form(method="post" action=`/moderator?p=${page}&before=${before}`)
                                input(type="submit" value="Spam")
                                input(type="hidden" name="spam_post_id" value=post.public_id)

                    if post.text_content !== null
                        div.m9-post #{post.text_content}

        div
            a(href=`/moderator?p=${page + 1}&before=${before}`) more
    else
        span no posts
