extends layout

append head
    link(rel='stylesheet', href='/stylewhile7/moderator-comments.css')

include bbCodes.pug

block content
    nav.mod-nav
        a#mon-posts-but(href="/moderator") posts
        | 
        a#mod-comments-but(href="/moderator?what=comments") comments

    if comments.length
        .mod-comments
            each c in comments
                -
                    let conClasses = []
                    const canDelete = user.is_super_admin || c.is_group_moderator

                    if(canDelete && c.is_removed) {
                        conClasses.push('removed-row')
                    }

                    conClasses.push(c.is_user_comment_spam
                        ? 'spam-row' : 'not-spam-row')

                div(class=conClasses)
                    div.mod-comment-header
                        | by #{c.username}
                        | on #{c.created_on}
                        | to
                        | 
                        a(href=`/g/${c.group_name}`) #{c.group_name}
                        | 
                        if canDelete
                            span(class="spam-count") +#{c.num_spam_votes}

                            if !c.is_removed
                                | 
                                form(method="post" action=`/moderator?what=comments&p=${page}&before=${before}`)
                                    input(type="submit" value="Remove")
                                    input(type="hidden" name="remove_comment_id" value=`${c.public_id}`)

                        if !c.is_user_comment_spam
                            form(method="post" action=`/moderator?what=comments&p=${page}&before=${before}`)
                                input(type="submit" value="Flag")
                                input(type="hidden" name="spam_comment_id" value=c.public_id)

                    div.m9-comment
                        +bbCodes(c.text_content)
        div
            a(href=`/moderator?what=comments&p=${page + 1}&before=${before}`) more
    else
        span no comments
