extends layout

append head
    link(rel='stylesheet', href='/stylesheets/moderator-comments.css')

block content
    div
        a(href="/moderator") posts
        | 
        a(href="/moderator?what=comments") comments

    if comments.length
        .mod-comments
            each c in comments
                div
                    div
                        | by #{c.username}
                        | on #{c.created_on}
                        | to xxx
                        | 
                        if user.is_super_admin
                            form(method="post")
                                input(type="submit" value="Remove")
                                input(type="hidden" name="remove_comment_id" value=`${c.public_id}`)

                        if !c.is_user_comment_spam
                            form(method="post")
                                input(type="submit" value="Spam")
                                input(type="hidden" name="spam_comment_id" value=c.public_id)

                    div.m9-comment #{c.text_content}
    else
        span no comments
