extends layout

block head
    link(rel='stylesheet', href='/stylejeets/my-settings.css')

block content
    if errors.length
            ul
                each error in errors
                    li #{error.msg}
    form(method="post")
            div
                label(for="time-zone" id="l_time-zone") Time Zone
                select(id="time-zone" name="time_zone")
                    each tz in time_zones
                        - let isSelected = (tz.name == time_zone)
                        - let hours = tz.utc_offset.hours
                        - let hoursText = hours ? (hours > 0 ? '+' + hours : hours) : '+0'
                        - let minutes = tz.utc_offset.minutes
                        - let minutesText = minutes ? ':' + Math.abs(minutes) : ''
                        option(value=tz.name selected=isSelected) #{tz.name} #{hoursText}#{minutesText}
            if user
                - const isPostDiscover = user.post_mode == 'discover'
                - const isPostFollow = user.post_mode == 'following-only'

                - const isCommentDiscover = user.comment_mode == 'discover'
                - const isCommentFollow = user.comment_mode == 'following-only'

                div Post Mode
                    div
                        input(type="radio" name="post_mode" id="post_mode0" value="discover" checked=isPostDiscover)
                        label(for="post_mode0") show all posts (discover mode)

                    div
                        input(type="radio" name="post_mode" id="post_mode1" value="following-only" checked=isPostFollow)
                        label(for="post_mode1") only show posts from users that I follow (follow mode)
                div Comment Mode
                    div
                        input(type="radio" name="comment_mode" id="comment_mode0" value="discover" checked=isCommentDiscover)
                        label(for="comment_mode0") show all comments (discover mode)

                    div
                        input(type="radio" name="comment_mode" id="comment_mode1" value="following-only" checked=isCommentFollow)
                        label(for="comment_mode1") only show comments from users that I follow (follow mode)
            div
                input(type="submit" value="Save")
