extends my-settings-top

append head
    link(rel='stylesheet', href=`${cssDir}/my-settings-group.css`)

block content2
    h3 Add User

    if success
        ul.usuccess1
            li=success

    if errors.length
        ul.uerror1
            each error in errors
                li #{error.msg}

    form(method="post")
        div
            label(for="user") Username
            input(name="user" id="user")
        div
            input(type="submit" value="Add")

    h3 Existing Users

    if group_members.length
        ul
            each gm in group_members
                li.memlist
                    span= gm.username
                    | 
                    form(method="post" class="fdel")
                        input(type="submit" value="x" title="delete")
                        input(type="hidden" name="deleteid" value=gm.public_id)
    else
        div None
