extends my-settings-top

append head
    link(rel='stylesheet', href=`${cssDir}/my-settings-groups.css`)

block content2
    h3 Register New App

    if success
        ul.usuccess1
            li=success

    if errors.length
        ul.uerror1
            each error in errors
                li=error

    form(method="post")
        div
            label(for="name") Application Name
            input(name="name" id="name" value=form_data.name)
        div
            label(for="ruri") Redirect URI
            input(name="ruri" id="ruri" value=form_data.ruri)
        div
            input(type="submit" value="Create")

    h3 Your Created Apps

    if clients.length
        ul
            each c in clients
                li
                    =c.app_name
                    | 
                    a(href=`/settings/app-id?id=${c.public_client_id}`) [settings]
    else
        div None
