extends layout

block head
    link(rel='stylesheet', href='/zileboots7/my-settings.css')

block content
    if errors.length
            ul
                each error in errors
                    li #{error.msg}
    form(method="post")
            div
                label(for="time-zone" id="l_time-zone") Time Zone
                select(id="time-zone" name="time_zone")
                    each tz in time_zones
                        - let isSelected = (tz.name == time_zone)
                        - let hours = tz.utc_offset.hours
                        - let hoursText = hours ? (hours > 0 ? '+' + hours : hours) : '+0'
                        - let minutes = tz.utc_offset.minutes
                        - let minutesText = minutes ? ':' + Math.abs(minutes) : ''
                        option(value=tz.name selected=isSelected) #{tz.name} #{hoursText}#{minutesText}
            div
                label(for="eyes" id="l_eyes") Following List
                select(id="eyes" name="eyes")
                    option(value="") use mine
                    each eyes in avaEyes
                        - let isSelected2 = (currEyes == eyes.username)
                        option(value=eyes.username selected=isSelected2) #{eyes.username}'s

            - const isPostDiscover = postMode == 'discover'
            - const isPostFollow = postMode == 'following-only'

            - const isCommentBasic = commentReplyMode == 'basic'
            - const isCommentQuick = commentReplyMode == 'quick'

            div View Mode
                div
                    input(type="radio" name="post_mode" id="post_mode0" value="discover" checked=isPostDiscover)
                    label(for="post_mode0")
                        b discover
                        |:
                        | 
                        |show all posts and comments, unfollowed are partially shown

                div
                    input(type="radio" name="post_mode" id="post_mode1" value="following-only" checked=isPostFollow)
                    label(for="post_mode1")
                        b locked
                        |:
                        | 
                        |only show posts and comments from followed users

            if user
                div Replying to Comments
                    div
                        input(type="radio" name="comment_reply_mode" id="comment_reply_mode0" value="basic" checked=isCommentBasic)
                        label(for="comment_reply_mode0")
                            b basic
                            |:
                            | 
                            |reply links take you to a form on a different page

                    div
                        input(type="radio" name="comment_reply_mode" id="comment_reply_mode1" value="quick" checked=isCommentQuick)
                        label(for="comment_reply_mode1")
                            b quick
                            |:
                            | 
                            |reply links open a form on the same page

            div
                input(type="submit" value="Save")
