extends layout

mixin followLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const sortNameValue = (sort !== '') ? `sort=${sort}` : ''
    - const sortSeparator = (pagePart === '') ? '?' : '&'
    - const sortPart = (sortNameValue !== '') ? `${sortSeparator}${sortNameValue}` : ''
    - const goto = encodeURIComponent(`${base_url}${pagePart}${sortPart}`)
    a(href=`/following?follow=${publicId}&goto=${goto}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const sortNameValue = (sort !== '') ? `sort=${sort}` : ''
    - const sortSeparator = (pagePart === '') ? '?' : '&'
    - const sortPart = (sortNameValue !== '') ? `${sortSeparator}${sortNameValue}` : ''
    - const goto = encodeURIComponent(`${base_url}${pagePart}${sortPart}`)
    a(href=`/following?unfollow=${publicId}&goto=${goto}` class="unfollow" title=`unfollow ${username}`) -

mixin postTitle(p)
    if p.link === null
        a(class="ptitle" href=`/p/${p.public_id}`) #{p.title}
    else
        a(class="ptitle" href=p.link)= p.title
        | 
        span.domname1 (#{p.domain_name})

mixin postFollowBut(p)
    if !user || (p.user_id != user.user_id)
        | 
        if p.is_follow
            +unfollowLink(p.username, p.user_public_id)
        else
            +followLink(p.username, p.user_public_id)

mixin postTags(lTags)
    if lTags.length
        | 
        |to
        each tag in lTags
            | 
            a(href=`/r/${tag}` class="tag1")=tag

mixin postLinks(p)
    span.plinks
        a(href=`/p/${p.public_id}`) comments(#{p.num_comments})

        if user && user.user_id == p.user_id
            | 
            a(href=`/p/${p.public_id}/edit`) edit
            | 
            a(href=`/p/${p.public_id}/delete`) delete


mixin singleLinePost(p)
    div
        +postTitle(p)

        | 
        span(class="puser") by #{p.username}

        +postFollowBut(p)

        | 
        span(class="pdate") on #{p.created_on}

        +postTags(p.tags)

        | 
        +postLinks(p)

mixin multiLinePost(p)
    div
        +postTitle(p)

        div.pinfo1
            span(class="puser") by #{p.username}

            +postFollowBut(p)

            | 
            span(class="pdate") on #{p.created_on}

            +postTags(p.tags)

            | 
            +postLinks(p)

block content
    - const gotoUrl = (sort === '') ? base_url : `${base_url}?sort=${sort}`

    if page_tag
        h1
            |r/#{page_tag}
            if user
                | 
                a(href=`/new?group=${page_tag}`) new post

    if is_discover_mode
        div(class="alert2o")
            span(class="alert2")
                |Showing all posts. 
                a(href=`/settings?viewmode=locked&goto=${gotoUrl}`) Switch to locked
                |.
    else
        div(class="alert2o")
            span(class="alert2")
                |Some posts may be hidden. 
                a(href=`/settings?viewmode=discover&goto=${gotoUrl}`) Show all
                |.

    div.sort1o
        span.sort1
            |sort:
            | 
            a(href=base_url) newest
            | 
            a(href=`${base_url}?sort=oldest`) oldest
            | 
            a(href=`${base_url}?sort=comments`) comments
            | 
            a(href=`${base_url}?sort=last`) last comment

    if posts.length
        .posts

            each post in posts
                if post.is_visible
                    +multiLinePost(post)
                else
                    div
                        span(class="puser2") by #{post.username}
                        | 

                        if !user || (post.user_id != user.user_id)
                            if post.is_follow
                                +unfollowLink(post.username, post.user_public_id)
                            else
                                +followLink(post.username, post.user_public_id)

                        | 
                        span(class="pdate2") on #{post.created_on}
                        | 
                        a(class="pcount2" href=`/p/${post.public_id}`) comments(#{post.num_comments})
        div
            -
                let pageUrl = `${base_url}?p=${page + 1}`

                if(sort !== '') {
                    pageUrl += `&sort=${sort}`
                }

            a(class="more" href=pageUrl) more &gt;
    else
        span no posts
