extends layout

mixin followLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const goto = encodeURIComponent(`${base_url}${pagePart}`)
    a(href=`/following?follow=${publicId}&goto=${goto}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const goto = encodeURIComponent(`${base_url}${pagePart}`)
    a(href=`/following?unfollow=${publicId}&goto=${goto}` class="unfollow" title=`unfollow ${username}`) -

block content
    if page_tag
        h2.pageh1
            |r/#{page_tag}
            if user
                | 
                a(href=`/new?group=${page_tag}`) new post

    if is_discover_mode
        div(class="alert2o")
            span(class="alert2")
                |Showing all posts. 
                a(href=`/settings?viewmode=locked&goto=${base_url}`) Switch to locked
                |.
    else
        div(class="alert2o")
            span(class="alert2")
                |Some posts may be hidden. 
                a(href=`/settings?viewmode=discover&goto=${base_url}`) Show all
                |.

    if posts.length
        .posts

            each post in posts
                div
                    if post.is_visible
                        if post.link === null
                            a(class="ptitle" href=`/p/${post.public_id}`) #{post.title}
                        else
                            a(class="ptitle" href=post.link)= post.title
                            | 
                            span.domname1 (#{post.domain_name})

                        div.pinfo1
                            span(class="puser") by #{post.username}
                            | 

                            if !user || (post.user_id != user.user_id)
                                if post.is_follow
                                    +unfollowLink(post.username, post.user_public_id)
                                else
                                    +followLink(post.username, post.user_public_id)

                            | 
                            span(class="pdate") on #{post.created_on}

                            if post.tags.length
                                | 
                                |to
                                each tag in post.tags
                                    | 
                                    a(href=`/r/${tag}` class="tag1")=tag

                            | 
                            span.plinks
                                a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

                                if user && user.user_id == post.user_id
                                    | 
                                    a(href=`/p/${post.public_id}/edit`) edit
                    else
                        span(class="puser2") by #{post.username}
                        | 

                        if !user || (post.user_id != user.user_id)
                            if post.is_follow
                                +unfollowLink(post.username, post.user_public_id)
                            else
                                +followLink(post.username, post.user_public_id)

                        | 
                        span(class="pdate2") on #{post.created_on}
                        | 
                        a(class="pcount2" href=`/p/${post.public_id}`) comments(#{post.num_comments})
        div
            a(class="more" href=`${base_url}?p=${page + 1}`) more &gt;
    else
        span no posts
