extends layout

append head
    link(rel='stylesheet', href='/stylesheets/single-post.css')

include bbCodes.pug

mixin followLink(username, postId)
    a(href=`/following?follow=${username}&goto=/p/${postId}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username, postId)
    a(href=`/following?unfollow=${username}&goto=/p/${postId}` class="unfollow" title=`unfollow ${username}`) -

mixin commentContent(comment, postId)
    - const commentIndent = comment.path.split('.').length - 2
    - const colors = ['', '#dddddd', '#bbbbbb', '#999999', '#777777', '#555555', '#333333', '#111111', '#DC143C']
    - let colorIndex = commentIndent

    - const color = colors[colorIndex]

    if comment.is_removed
        | [removed]
    else
        +bbCodes(comment.is_visible ? comment.text_content : '???')
        | 
        em !{'&ndash;'}#{comment.username}
            if !comment.is_visible
                +followLink(comment.username, postId)
            else if comment.user_id != user.user_id
                +unfollowLink(comment.username, postId)
            | 
            | #{comment.created_on} 
            a(href=`/c/${comment.public_id}`) reply

block content
    div.the-post

        if post.is_visible
            if post.link === null
                h3
                    a(href=`/p/${post.public_id}`)=post.title
            else
                h3
                    a(href=post.link)=post.title

            div
                span(class="puser") by #{post.username}
                if post.user_id != user.user_id
                    +unfollowLink(post.username, post.public_id)
                | 
                span(class="pdate") on #{post.created_on}

                if post.tags.length
                    | 
                    |to

                    each tag in post.tags
                        | 
                        a(href=`/r/${tag}` class="tag1")=tag

                | 
                a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

            if post.text_content !== null
                div.the-post-content
                    +bbCodes(post.text_content)
        else
            +followLink(post.username, post.public_id)
            | 
            span(class="pdate") on #{post.created_on}
            | 
            a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

    if user
        if errors.length
            ul
                each error in errors
                    li #{error.msg}
        form(method="post")
            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    .comments
        if comments.length
            - let currIndent = 0
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li>
                    +commentContent(comment, post.public_id)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li>
                        +commentContent(comment, post.public_id)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li>
                        +commentContent(comment, post.public_id)
                    else
                        </li><li>
                        +commentContent(comment, post.public_id)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
