extends layout

append head
    link(rel='stylesheet', href='/cillmit99b/single-post.css')

    if user && comment_reply_mode == 'quick'
        script(src="/bavamuts/shared.js")

include bbCodes.pug
include userContent.pug

block content
    - const followGoto = '/p/' + post.public_id

    div.the-post

        if post.is_visible
            if post.link === null
                h3
                    a(href=`/p/${post.public_id}`)=post.title
            else
                h3
                    a(href=post.link)=post.title
                    | 
                    span.domname1 (#{post.domain_name})

            div
                span(class="puser") by #{post.username}
                | 

                if !user || (post.user_id != user.user_id)
                    if post.is_follow
                        +ucUnfollowLink(post.username, post.user_public_id, followGoto)
                    else
                        +ucFollowLink(post.username, post.user_public_id, followGoto)

                | 
                span(class="pdate") on #{post.created_on}

                if post.tags.length
                    | 
                    |to

                    each tag in post.tags
                        | 
                        a(href=`/r/${tag}` class="tag1")=tag

                | 
                span.plinks
                    a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

                    if user && post.user_id == user.user_id
                        | 
                        a(href=`/p/${post.public_id}/edit`) edit

            if post.text_content !== null
                div.the-post-content
                    +bbCodes(post.text_content)
        else
            span(class="puser2") by #{post.username}
            | 

            if !user || (post.user_id != user.user_id)
                if post.is_follow
                    +ucUnfollowLink(post.username, post.user_public_id, followGoto)
                else
                    +ucFollowLink(post.username, post.user_public_id, followGoto)

            | 
            span(class="pdate2") on #{post.created_on}
            | 
            a(class="pcount2" href=`/p/${post.public_id}`) comments(#{post.num_comments})

    if user
        form(method="post" id="write-comment")
            if errors.length
                ul
                    each error in errors
                        li #{error.msg}

            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    if is_discover_mode
        div(class="alert1o")
            span(class="alert1")
                |Showing all comments. 
                a(href=`/settings?viewmode=locked&goto=/p/${post.public_id}`) Switch to locked
                |.
    else
        div(class="alert1o")
            span(class="alert1")
                |Some comments may be hidden. 
                a(href=`/settings?viewmode=discover&goto=/p/${post.public_id}`) Show all
                |.

    .comments
        if comments.length
            - let currIndent = 0
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li>
                    +ucListComment(comment, user, followGoto, comment_reply_mode, true)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li>
                        +ucListComment(comment, user, followGoto, comment_reply_mode, true)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li>
                        +ucListComment(comment, user, followGoto, comment_reply_mode, true)
                    else
                        </li><li>
                        +ucListComment(comment, user, followGoto, comment_reply_mode, true)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>

            div
                - let pageUrl = `/p/${post.public_id}?p=${page + 1}`

                a(class="more" href=pageUrl) more &gt;
        else
            | no comments yet
