extends layout

append head
    link(rel='stylesheet', href='/styleboots2/group-comment.css')

include bbCodes.pug

mixin followLink(username)
    a(href=`/following?follow=${username}&goto=/c/${comment.comment_public_id}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username)
    a(href=`/following?unfollow=${username}&goto=/c/${comment.comment_public_id}` class="unfollow" title=`unfollow ${username}`) -

mixin commentContent(comment)

    if comment.is_visible
        +bbCodes(comment.text_content)
        | 
        span(class="cuser") !{'&ndash;'}#{comment.username}

        if !user || (comment.user_id != user.user_id)
            if comment.is_follow
                +unfollowLink(comment.username)
            else
                +followLink(comment.username)

        | 
        span(class="cdate") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply
    else
        span(class="cuser2") !{'&ndash;'}#{comment.username}

        if !user || (comment.user_id != user.user_id)
            if comment.is_follow
                +unfollowLink(comment.username)
            else
                +followLink(comment.username)

        | 
        span(class="cdate2") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply

block content
    nav.backpost-nav
        a(href=`/p/${post_public_id}`) !{'&lt;'} Back to Post

    article.the-comment

        if comment.is_visible
            span(class="cuser") by #{comment.username}

            if !user || (comment.user_id != user.user_id)
                if comment.is_follow
                    +unfollowLink(comment.username)
                else
                    +followLink(comment.username)

            | 
            span(class="cdate") on #{comment.created_on}
            div.the-comment-content
                +bbCodes(comment.text_content)
        else
            span(class="cuser2") by #{comment.username}

            if !user || (comment.user_id != user.user_id)
                if comment.is_follow
                    +unfollowLink(comment.username)
                else
                    +followLink(comment.username)

            | 
            span(class="cdate2") on #{comment.created_on}

    if user
        form(method="post" id="write-comment")
            if errors.length
                ul
                    each error in errors
                        li #{error.msg}

            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    if is_discover_mode
        div(class="alert1o")
            span(class="alert1")
                |Showing all comments. 
                a(href=`/settings?viewmode=locked&goto=/c/${comment.comment_public_id}`) Switch to locked
                |.
    else
        div(class="alert1o")
            span(class="alert1")
                |Some comments may be hidden. 
                a(href=`/settings?viewmode=discover&goto=/c/${comment.comment_public_id}`) Show all
                |.

    .comments
        if comments.length
            - let currIndent = comments[0].path.split('.').length - 2
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li>
                    +commentContent(comment)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li>
                        +commentContent(comment)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li>
                        +commentContent(comment)
                    else
                        </li><li>
                        +commentContent(comment)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
