extends layout

append head
    link(rel='stylesheet', href='/styleboots2/single-post.css')
    script(src="/javascripts/shared.js")

include bbCodes.pug

mixin followLink(username, postId)
    a(href=`/following?follow=${username}&goto=/p/${postId}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username, postId)
    a(href=`/following?unfollow=${username}&goto=/p/${postId}` class="unfollow" title=`unfollow ${username}`) -

mixin commentContent(comment, postId)
    - const commentIndent = comment.path.split('.').length - 2
    - const colors = ['', '#dddddd', '#bbbbbb', '#999999', '#777777', '#555555', '#333333', '#111111', '#DC143C']
    - let colorIndex = commentIndent

    - const color = colors[colorIndex]

    if comment.is_removed
        | [removed]
    else
        if comment.is_visible
            +bbCodes(comment.text_content)
            | 
            span(class="cuser") !{'&ndash;'}#{comment.username}

            if !user || (comment.user_id != user.user_id)
                if comment.is_follow
                    +unfollowLink(comment.username, postId)
                else
                    +followLink(comment.username, postId)

            | 
            span(class="cdate") on #{comment.created_on} 

            if user
                a(onclick=`reply('${comment.public_id}');return false;` href="#") reply

            | 
            a(href=`/c/${comment.public_id}`) link
        else
            span(class="cuser2") !{'&ndash;'}#{comment.username}

            if !user || (comment.user_id != user.user_id)
                if comment.is_follow
                    +unfollowLink(comment.username, postId)
                else
                    +followLink(comment.username, postId)

            | 
            span(class="cdate2") on #{comment.created_on} 
            
            if user
                a(onclick=`reply('${comment.public_id}');return false;` href="#") reply

            | 
            a(href=`/c/${comment.public_id}`) link

block content
    div.the-post

        if post.is_visible
            if post.link === null
                h3
                    a(href=`/p/${post.public_id}`)=post.title
            else
                h3
                    a(href=post.link)=post.title

            div
                span(class="puser") by #{post.username}

                if !user || (post.user_id != user.user_id)
                    if post.is_follow
                        +unfollowLink(post.username, post.public_id)
                    else
                        +followLink(post.username, post.public_id)

                | 
                span(class="pdate") on #{post.created_on}

                if post.tags.length
                    | 
                    |to

                    each tag in post.tags
                        | 
                        a(href=`/r/${tag}` class="tag1")=tag

                | 
                a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

                if user && post.user_id == user.user_id && post.seconds_since < 3600
                    | 
                    a(href=`/p/${post.public_id}/edit` class="edit-link") edit

            if post.text_content !== null
                div.the-post-content
                    +bbCodes(post.text_content)
        else
            span(class="puser2") by #{post.username}

            if !user || (post.user_id != user.user_id)
                if post.is_follow
                    +unfollowLink(post.username, post.public_id)
                else
                    +followLink(post.username, post.public_id)

            | 
            span(class="pdate2") on #{post.created_on}
            | 
            a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

    if user
        if errors.length
            ul
                each error in errors
                    li #{error.msg}
        form(method="post")
            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    if is_discover_mode
        div(class="alert1o")
            span(class="alert1")
                |Showing all comments. 
                a(href=`/settings?viewmode=locked&goto=/p/${post.public_id}`) Switch to locked
                |.
    else
        div(class="alert1o")
            span(class="alert1")
                |Some comments may be hidden. 
                a(href=`/settings?viewmode=discover&goto=/p/${post.public_id}`) Show all
                |.

    .comments
        if comments.length
            - let currIndent = 0
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li id="#{comment.public_id}">
                    +commentContent(comment, post.public_id)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li id="#{comment.public_id}">
                        +commentContent(comment, post.public_id)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li id="#{comment.public_id}">
                        +commentContent(comment, post.public_id)
                    else
                        </li><li id="#{comment.public_id}">
                        +commentContent(comment, post.public_id)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
