extends layout

append head
    link(rel='stylesheet', href='/stylezeets/group-comment.css')

include bbCodes.pug

mixin followLink(username)
    a(href=`/following?follow=${username}&goto=/c/${comment.comment_public_id}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username)
    a(href=`/following?unfollow=${username}&goto=/c/${comment.comment_public_id}` class="unfollow" title=`unfollow ${username}`) -

mixin commentContent(comment)

    if !user || (comment.user_id != user.user_id)
        if comment.is_follow
            +unfollowLink(comment.username)
        else
            +followLink(comment.username)
        | 

    if comment.is_visible
        +bbCodes(comment.text_content)
        | 
        span(class="cuser") !{'&ndash;'}#{comment.username}
        | 
        span(class="cdate") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply
    else
        span(class="cdate") on #{comment.created_on} 
        a(href=`/c/${comment.public_id}`) reply

block content
    nav.backpost-nav
        a(href=`/p/${post_public_id}`) !{'&lt;'} Back to Post

    article.the-comment

        if !user || (comment.user_id != user.user_id)
            if comment.is_follow
                +unfollowLink(comment.username)
            else
                +followLink(comment.username)
            | 

        if comment.is_visible
            span(class="cuser") by #{comment.username}
            | 
            span(class="cdate") on #{comment.created_on}
            p
                +bbCodes(comment.text_content)
        else
            span(class="cdate") on #{comment.created_on}

    if user
        if errors.length
            ul
                each error in errors
                    li #{error.msg}
        form(method="post")
            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    .comments
        if comments.length
            - let currIndent = comments[0].path.split('.').length - 2
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li>
                    +commentContent(comment)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li>
                        +commentContent(comment)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li>
                        +commentContent(comment)
                    else
                        </li><li>
                        +commentContent(comment)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
