extends layout

append head
    link(rel='stylesheet', href='/styleboots2/group-comment.css')

    if comment_reply_mode == 'quick'
        script(src="/javascripts/shared.js")

include bbCodes.pug
include userContent.pug

block content
    - const followGoto = '/c/' + comment.comment_public_id

    nav.backpost-nav
        a(href=`/p/${post_public_id}`) !{'&lt;'} Back to Post

    article.the-comment

        if comment.is_visible
            span(class="cuser") by #{comment.username}

            if !user || (comment.user_id != user.user_id)
                | 
                if comment.is_follow
                    +ucUnfollowLink(comment.username, followGoto)
                else
                    +ucFollowLink(comment.username, followGoto)

            | 
            span(class="cdate") on #{comment.created_on}
            div.the-comment-content
                +bbCodes(comment.text_content)
        else
            span(class="cuser2") by #{comment.username}

            if !user || (comment.user_id != user.user_id)
                | 
                if comment.is_follow
                    +ucUnfollowLink(comment.username, followGoto)
                else
                    +ucFollowLink(comment.username, followGoto)

            | 
            span(class="cdate2") on #{comment.created_on}

    if user
        form(method="post" id="write-comment")
            if errors.length
                ul
                    each error in errors
                        li #{error.msg}

            div
                label(for="text_content") Write a Comment
                textarea(name="text_content" id="text_content")
            div
                input(type="submit" value="Submit Comment")

    if is_discover_mode
        div(class="alert1o")
            span(class="alert1")
                |Showing all comments. 
                a(href=`/settings?viewmode=locked&goto=/c/${comment.comment_public_id}`) Switch to locked
                |.
    else
        div(class="alert1o")
            span(class="alert1")
                |Some comments may be hidden. 
                a(href=`/settings?viewmode=discover&goto=/c/${comment.comment_public_id}`) Show all
                |.

    .comments
        if comments.length
            - let currIndent = comments[0].path.split('.').length - 2
            - let isFirst = true

            <ul>

            for comment in comments
                if isFirst
                    <li id="#{comment.public_id}">
                    +ucListComment(comment, user, followGoto, comment_reply_mode)
                    - isFirst = false
                else 
                    - let commentIndent = comment.path.split('.').length - 2
                    
                    if commentIndent > currIndent
                        <ul><li id="#{comment.public_id}">
                        +ucListComment(comment, user, followGoto, comment_reply_mode)
                    else if commentIndent < currIndent
                        - let diffIndent = currIndent - commentIndent
                        - let n = 0

                        </li>

                        while n < diffIndent
                            </ul></li>
                            - ++n
                        
                        <li id="#{comment.public_id}">
                        +ucListComment(comment, user, followGoto, comment_reply_mode)
                    else
                        </li><li id="#{comment.public_id}">
                        +ucListComment(comment, user, followGoto, comment_reply_mode)
                    
                    - currIndent = commentIndent

            if currIndent > 0 
                - let n = 0

                </li>

                while n < currIndent
                    </ul></li>
                    - ++n
                
                </ul>
            else
                </li></ul>
        else
            | no comments yet
