mixin ucFollowLink(pUsername, pGoto)
    a(href=`/following?follow=${pUsername}&goto=${pGoto}` class="follow" title=`follow ${pUsername}`) +

mixin ucUnfollowLink(pUsername, pGoto)
    a(href=`/following?unfollow=${pUsername}&goto=${pGoto}` class="unfollow" title=`unfollow ${pUsername}`) -

mixin ucListComment(pComment, pUser, pFollowGoto, pCommentReplyMode)
    if pComment.is_visible
        div
            span(class="cuser") #{pComment.username}

            if !pUser || (pComment.user_id != pUser.user_id)
                | 
                if pComment.is_follow
                    +ucUnfollowLink(pComment.username, pFollowGoto)
                else
                    +ucFollowLink(pComment.username, pFollowGoto)

            | 
            span(class="cdate") on #{pComment.created_on}

        +bbCodes(pComment.text_content)

        div.clinks
            if pUser
                if pCommentReplyMode == 'quick'
                    a(onclick=`reply('${pComment.public_id}');return false;` href="#") reply
                else
                    a(href=`/c/${pComment.public_id}#write-comment`) reply

            | 
            a(href=`/c/${pComment.public_id}`) link
    else
        span(class="cuser2") #{pComment.username}

        if !pUser || (pComment.user_id != pUser.user_id)
            | 
            if pComment.is_follow
                +ucUnfollowLink(pComment.username, pFollowGoto)
            else
                +ucFollowLink(pComment.username, pFollowGoto)

        | 
        span(class="cdate2") on #{pComment.created_on}
        
        if pUser
            | 
            if pCommentReplyMode == 'quick'
                a(onclick=`reply('${pComment.public_id}');return false;` href="#") reply
            else
                a(href=`/c/${pComment.public_id}#write-comment`) reply

        | 
        a(href=`/c/${pComment.public_id}`) link
