extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/dms.css`)

block content
    h1 Direct Messages

    if errors && errors.length
            ul.uerror1
                each error in errors
                    li #{error}
    form(method="post")
        div
            label(for="to") To
            input(name="to" id="to" value=to)

        div
            label(for="message") Message
            textarea(name="message" id="message")=message

        div
            input(type="submit" value="Send")

    div
        each dmu in dmed_users
            - const isUnread = dmu.dm_count > 0

            div(class=isUnread ? 'dm-unread' : '')
                a(href=`/dms/${dmu.dmed_user_public_id}`)
                    =dmu.dmed_username
                    if(isUnread)
                        |#{'(' + dmu.dm_count + ')'}
                | 
                |last on 
                =dmu.most_recent
