extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/manual.css`)

block content
    h1 Help

    ul
        li
            a(href="#what") What is #{siteName}?
        li
            a(href="#posts") Posts
        li
            a(href="#comments") Comments
        li
            a(href="#user-profiles") User Profiles
        li
            a(href="#inbox") Inbox
        li
            a(href="#formatting") Formatting
        li
            a(href="#subs") Subs
        li
            a(href="#user-settings") User Settings
        li
            a(href="#sub-settings") Sub Settings
        li
            a(href="#moderators") Moderators
        li
            a(href="#editing") Editing
        li
            a(href="#deleting") Deleting
        li
            a(href="#fonts") Fonts
        li
            a(href="#open-source") Open Source
        li
            a(href="#privacy-policy") Privacy Policy
        li
            a(href="#contact-us") How to Contact Us
        li
            a(href="#api") API

    h2#what What is #{siteName}?
    p
        |#{siteName} is an internet forum.
        |Users write posts, nested comments, user profiles and sub descriptions.
        |Each post must be assigned to a sub.

    h2#posts Posts
    p
        |Use 
        a(href="/new") new post
        | 
        |in the site header to create a post. 
        |The 
        a(href="/") home page
        | 
        |displays all posts from all users.
        |You can sort posts by #[a(href="/") newest], #[a(href="/?sort=oldest") oldest], #[a(href="/?sort=comments") most comments] and #[a(href="/?sort=last") most recent comment].
        |These sorting options are at the top of the #[a(href="/") home page] and at the top of subs.

    h2#comments Comments
    p
        |You can write comments on posts and other comments. 
        |If you're logged in, then there's a comment form at the top of each post and comment page, and 
        |there are "reply" links below each comment.

    h2#user-profiles User Profiles
    p.
        All usernames link to the user's profile page. 
        User profile pages display the username and a profile blurb if the user has filled it in. 
        Users can edit their profile on the #[a(href="/settings/profile") profile settings] page.

    h2#inbox Inbox
    p
        |The 
        a(href="/inbox") inbox
        | 
        | shows all comments that have been made directly on your posts and comments.

    h2#formatting Formatting
    p
        |These are the available formatting rules for posts, comments, user profiles and sub descriptions:
        ul.list1
            li
                |All newlines are automatically preserved.
            li
                |You can use 
                i ```pre
                | 
                |and 
                i ```
                | 
                |to preserve spaces/whitespace for a group of lines. 
                i ```pre
                | 
                |must come first on its own line and 
                i ```
                | 
                |must come last on its own line. 
                |All whitespace in between will be preserved. 
                |This is intended for writing computer programming source code.
            li
                |You can create hyperlinks by putting brackets before the URL. 
                |For example like this: 
                i []https://www.mysite.com
                |. If you want to use custom text put it in the brackets, e.g.: 
                i [green]http://colors.com/green
                |.

    h2#subs Subs
    p
        |When you create a post you assign it to a community called a sub. 
        |Each sub has its own page with all of its posts. 
        |For example, the 
        a(href="/r/meta") meta
        | 
        |sub. 
        |The sub name and about link show in the site header when you are inside a sub.

    h2#user-settings User Settings
    p.
        You can access the #[a(href="/settings") user settings] in the main site navigation.
        You can use the user settings even if you're logged out.
        Additional user settings for logged in users are at #[a(href="/settings/username") username], #[a(href="/settings/profile") profile] and #[a(href="/settings/app-ids") app IDs].
        Username is for changing your username, and profile is for editing your profile blurb.
        App IDs are for developers and the instructions can be found in step 1 of the #[a(href="/api#api-user-authentication") user authentication] section of the #[a(href="/api") API documentation].

    p
        |The following are the #[a(href="/settings") user settings]:
        ul.list1
            li
                b Time Zone
                |: this will adjust the time that is displayed for each post and comment.
            li
                b Site Width
                |: you can use this setting to set the site width. 
                |Valid values are #{min_site_width}-#{max_site_width} or blank. 
                |If you use a number between #{min_site_width}-#{max_site_width} then that will be the site width in pixels 
                |and the site will be horizontally centered. 
                |If this setting is left blank then the site will take up the entire browser width. 
                |The default value is #{default_site_width ? default_site_width : 'blank'}.
            li
                b Posts Per Page
                |: this is how many posts to list on the home page and on subs. 
                |It must be between #{min_ppp} and #{max_ppp}. The default is #{default_ppp}.
            li
                b Post Spacing
                |: when there are lists of posts this is the vertical amount of space 
                |in pixels between each post. It must be between 
                |#{min_pvs} and #{max_pvs}. The default is #{default_pvs}.
            li
                b Post Layout
                |: this setting determines the layout for posts on the home page and on subs. 
                |You can choose the standard two line layout, 
                |or there is a single line layout option that is good for dense posts.
            li
                b Theme
                |: this is for adjusting the site colors. 
                |You can choose either the original theme (light mode) or a dark mode theme.
            li
                b Date Format
                |: you can use this setting to change how dates and times are displayed. 
            li
                b Replying to Comments
                |: this affects how the comment reply links work. If you select "basic" then 
                |comment reply links will take you to a comment form on a different page. If you select 
                |"quick" then comment reply links will immediately open a comment form under the reply link. 
                |The default is "quick". This is only for logged in users.

    h2#sub-settings Sub Settings
    p
        |If you are the sub moderator and you are in the sub then there will be a second colored settings link in the main navigation. 
        |On the sub settings page you can set the sub description which displays on the sub about page.

    h2#moderators Moderators
    p
        |Moderators can permanently delete posts and comments. 
        |There is a site moderator that can delete any post or comment. 
        |Each sub has a moderator who can only delete posts and comments from that sub.
        |The first user to create a post for a sub becomes the moderator for that sub.

    h2#editing Editing
    p
        |You can edit your posts and comments anytime you want. 
        |For posts, the edit link is to the right of the comment count. 
        |And for comments the edit link is to the right of the permalink and reply links.

    h2#deleting Deleting
    p
        |You can delete your posts and comments at anytime. 
        |The delete link for posts and comments is to the right of the edit link. 
        |Post and comment deletion is permanent and the data is actually deleted from the database. 
        |When you delete a post or comment, then all of its comments will also be permanently deleted.

    h2#fonts Fonts
    p
        |There is no font face set for this website. So, the font that you see is the one set in the browser settings. Therefore, you can change the font for this website by selecting a different font in your browser settings.

    h2#open-source Open Source
    p.
        The source code for Comment Castles is
        #[a(href="https://github.com/ferg1e/comment-castles") available on GitHub] under the MIT license.

    h2#privacy-policy Privacy Policy
    p
        |Please see our 
        a(href="/privacy-policy") privacy policy here
        |.

    h2#contact-us How to Contact Us
    p
        |There are a couple contact methods listed on the 
        a(href="/contact-us") contact us page
        |.

    h2#api API
    p
        |We have an API, please see the 
        a(href="/api") API documentation here
        |.
