extends my-settings-top

block head
    link(rel='stylesheet', href=`${cssDir}/my-settings.css`)

block content2

    if success
        ul.usuccess1
            li=success

    if errors.length
            ul.uerror1
                each error in errors
                    li #{error.msg}

    form(method="post")
            div
                label(for="one-bg-color" id="l_one-bg-color") Main Background Color
                input(id="one-bg-color" name="one_bg_color" value=`#${oneBgColorForm}` type="color")

            div
                label(for="two-bg-color" id="l_two-bg-color") Secondary Background Color
                input(id="two-bg-color" name="two_bg_color" value=`#${twoBgColorForm}` type="color")
            div
                label(for="main-text-color" id="l_main-text-color") Main Text Color
                input(id="main-text-color" name="main_text_color" value=`#${mainTextColorForm}` type="color")
            div
                label(for="post-link-color" id="l_post-link-color") Post Link Color
                input(id="post-link-color" name="post_link_color" value=`#${postLinkColorForm}` type="color")
            div
                label(for="post-link-visited-color" id="l_post-link-visited-color") Post Link Visited Color
                input(id="post-link-visited-color" name="post_link_visited_color" value=`#${postLinkVisitedColorForm}` type="color")
            div
                label(for="group-bg-color" id="l_group-bg-color") Group Background Color
                input(id="group-bg-color" name="group_bg_color" value=`#${groupBgColorForm}` type="color")
            div
                label(for="group-text-color" id="l_group-text-color") Group Text Color
                input(id="group-text-color" name="group_text_color" value=`#${groupTextColorForm}` type="color")
            div
                label(for="hidden-color" id="l_hidden-color") Hidden Text Color
                input(id="hidden-color" name="hidden_color" value=`#${hiddenColorForm}` type="color")
            div
                label(for="domain-name-color" id="l_domain-name-color") Domain Name Color
                input(id="domain-name-color" name="domain_name_color" value=`#${domainNameColorForm}` type="color")
            div
                label(for="unfollow-bg-color" id="l_unfollow-bg-color") Unfollow Background Color
                input(id="unfollow-bg-color" name="unfollow_bg_color" value=`#${unfollowBgColorForm}` type="color")
            div
                label(for="unfollow-line-color" id="l_unfollow-line-color") Unfollow Line Color
                input(id="unfollow-line-color" name="unfollow_line_color" value=`#${unfollowLineColorForm}` type="color")
            div
                label(for="unfollow-text-color" id="l_unfollow-text-color") Unfollow Text Color
                input(id="unfollow-text-color" name="unfollow_text_color" value=`#${unfollowTextColorForm}` type="color")
            div
                label(for="follow-bg-color" id="l_follow-bg-color") Follow Background Color
                input(id="follow-bg-color" name="follow_bg_color" value=`#${followBgColorForm}` type="color")
            div
                label(for="follow-line-color" id="l_follow-line-color") Follow Line Color
                input(id="follow-line-color" name="follow_line_color" value=`#${followLineColorForm}` type="color")
            div
                label(for="follow-text-color" id="l_follow-text-color") Follow Text Color
                input(id="follow-text-color" name="follow_text_color" value=`#${followTextColorForm}` type="color")
            div
                label(for="main-link-color" id="l_main-link-color") Main Link Color
                input(id="main-link-color" name="main_link_color" value=`#${mainLinkColorForm}` type="color")
            div
                label(for="nav-link-color" id="l_nav-link-color") Main Navigation Link Color
                input(id="nav-link-color" name="nav_link_color" value=`#${navLinkColorForm}` type="color")
            div
                label(for="footer-link-color" id="l_footer-link-color") Footer Link Color
                input(id="footer-link-color" name="footer_link_color" value=`#${footerLinkColorForm}` type="color")
            div
                label(for="page-bg-color" id="l_page-bg-color") Page Button Background Color
                input(id="page-bg-color" name="page_bg_color" value=`#${pageBgColorForm}` type="color")
            div
                label(for="page-line-color" id="l_page-line-color") Page Button Border Color
                input(id="page-line-color" name="page_line_color" value=`#${pageLineColorForm}` type="color")
            div
                label(for="page-text-color" id="l_page-text-color") Page Button Text Color
                input(id="page-text-color" name="page_text_color" value=`#${pageTextColorForm}` type="color")
            div
                label(for="high-bg-color" id="l_high-bg-color") Highlight Background Color
                input(id="high-bg-color" name="high_bg_color" value=`#${highBgColorForm}` type="color")
            div
                label(for="high-text-color" id="l_high-text-color") Highlight Text Color
                input(id="high-text-color" name="high_text_color" value=`#${highTextColorForm}` type="color")
            div
                label(for="high-link-color" id="l_high-link-color") Highlight Link Color
                input(id="high-link-color" name="high_link_color" value=`#${highLinkColorForm}` type="color")
            div
                label(for="comment-head-color" id="l_comment-head-color") Comment Header Text Color
                input(id="comment-head-color" name="comment_head_color" value=`#${commentHeadColorForm}` type="color")
            div
                label(for="comment-user-color" id="l_comment-user-color") Comment Header Link Color
                input(id="comment-user-color" name="comment_user_color" value=`#${commentUserColorForm}` type="color")
            div
                label(for="comment-foot-color" id="l_comment-foot-color") Comment Footer Link Color
                input(id="comment-foot-color" name="comment_foot_color" value=`#${commentFootColorForm}` type="color")
            div
                label(for="pre-bg-color" id="l_pre-bg-color") Pre Background Color
                input(id="pre-bg-color" name="pre_bg_color" value=`#${preBgColorForm}` type="color")
            div
                label(for="pre-text-color" id="l_pre-text-color") Pre Text Color
                input(id="pre-text-color" name="pre_text_color" value=`#${preTextColorForm}` type="color")
            div
                label(for="pre-link-color" id="l_pre-link-color") Pre Link Color
                input(id="pre-link-color" name="pre_link_color" value=`#${preLinkColorForm}` type="color")
            div
                label(for="success-text-color" id="l_success-text-color") Success Text Color
                input(id="success-text-color" name="success_text_color" value=`#${successTextColorForm}` type="color")
            div
                label(for="error-text-color" id="l_error-text-color") Error Text Color
                input(id="error-text-color" name="error_text_color" value=`#${errorTextColorForm}` type="color")

            div
                input(type="submit" value="Save")
                | 
                input(type="submit" value="Reset To Defaults" form="fdef")
    div
        form(method="post" action="/settings/colors" id="fdef")
            input(type="hidden" name="defaults" value="1")
