extends my-settings-top

block head
    link(rel='stylesheet', href=`${cssDir}/my-settings.css`)

block content2

    if success
        ul.usuccess1
            li=success

    if errors.length
            ul.uerror1
                each error in errors
                    li #{error.msg}

    form(method="post")
            div
                label(for="time-zone" id="l_time-zone") Time Zone
                select(id="time-zone" name="time_zone")
                    each tz in time_zones
                        - let isSelected = (tz.name == time_zone)
                        - let hours = tz.utc_offset.hours
                        - let hoursText = hours ? (hours > 0 ? '+' + hours : hours) : '+0'
                        - let minutes = tz.utc_offset.minutes
                        - let minutesText = minutes ? ':' + Math.abs(minutes) : ''
                        option(value=tz.name selected=isSelected) #{tz.name} #{hoursText}#{minutesText}
            div
                label(for="site-width" id="l_site-width") Site Width
                input(id="site-width" name="site_width" value=siteWidth)

            div
                label(for="posts-per-page" id="l_posts-per-page") Posts Per Page
                input(id="posts-per-page" name="posts_per_page" value=postsPerPage)

            div
                label(for="posts-vertical-spacing" id="l_posts-vertical-spacing") Post Spacing
                input(id="posts-vertical-spacing" name="posts_vertical_spacing" value=postsVerticalSpacing)

            - const isPostLayoutSingle = postLayout == 'single-line'
            - const isPostLayoutDouble = postLayout == 'double-line'

            - const isThemeOriginal = theme == 'original'
            - const isThemeDarkMode = theme == 'dark-mode'

            - const isDateFormat0 = dateFormat == dateFormat0
            - const isDateFormat1 = dateFormat == dateFormat1
            - const isDateFormat2 = dateFormat == dateFormat2
            - const isDateFormat3 = dateFormat == dateFormat3
            - const isDateFormat4 = dateFormat == dateFormat4
            - const isDateFormat5 = dateFormat == dateFormat5
            - const isDateFormat6 = dateFormat == dateFormat6
            - const isDateFormat7 = dateFormat == dateFormat7

            - const isCommentBasic = commentReplyMode == 'basic'
            - const isCommentQuick = commentReplyMode == 'quick'

            div Post Layout
                div
                    input(type="radio" name="post_layout" id="post_layout0" value="single-line" checked=isPostLayoutSingle)
                    label(for="post_layout0")
                        b dense
                        |: single line layout for posts

                div
                    input(type="radio" name="post_layout" id="post_layout1" value="double-line" checked=isPostLayoutDouble)
                    label(for="post_layout1")
                        b standard
                        |: two line layout for posts

            div Theme
                div
                    input(type="radio" name="theme" id="theme0" value="original" checked=isThemeOriginal)
                    label(for="theme0")
                        b original
                        |: original color theme, light mode

                div
                    input(type="radio" name="theme" id="theme1" value="dark-mode" checked=isThemeDarkMode)
                    label(for="theme1")
                        b dark mode
                        |: color theme with dark colors

            div Date Format
                div
                    input(type="radio" name="date_format" id="date_format0" value=dateFormat0 checked=isDateFormat0)
                    label(for="date_format0") Dec 1, 2021 1:00pm

                div
                    input(type="radio" name="date_format" id="date_format1" value=dateFormat1 checked=isDateFormat1)
                    label(for="date_format1") Dec 1, 2021

                div
                    input(type="radio" name="date_format" id="date_format2" value=dateFormat2 checked=isDateFormat2)
                    label(for="date_format2") 12/1/2021 1:00pm

                div
                    input(type="radio" name="date_format" id="date_format3" value=dateFormat3 checked=isDateFormat3)
                    label(for="date_format3") 12/1/2021

                div
                    input(type="radio" name="date_format" id="date_format4" value=dateFormat4 checked=isDateFormat4)
                    label(for="date_format4") 1/12/2021 1:00pm

                div
                    input(type="radio" name="date_format" id="date_format5" value=dateFormat5 checked=isDateFormat5)
                    label(for="date_format5") 1/12/2021

                div
                    input(type="radio" name="date_format" id="date_format6" value=dateFormat6 checked=isDateFormat6)
                    label(for="date_format6") 2021-12-01 1:00pm

                div
                    input(type="radio" name="date_format" id="date_format7" value=dateFormat7 checked=isDateFormat7)
                    label(for="date_format7") 2021-12-01

            if user
                div Replying to Comments
                    div
                        input(type="radio" name="comment_reply_mode" id="comment_reply_mode0" value="basic" checked=isCommentBasic)
                        label(for="comment_reply_mode0")
                            b basic
                            |:
                            | 
                            |reply links take you to a form on a different page

                    div
                        input(type="radio" name="comment_reply_mode" id="comment_reply_mode1" value="quick" checked=isCommentQuick)
                        label(for="comment_reply_mode1")
                            b quick
                            |:
                            | 
                            |reply links open a form on the same page

            div
                input(type="submit" value="Save")
                | 
                input(type="submit" value="Reset To Defaults" form="fdef")
    div
        form(method="post" action="/settings" id="fdef")
            input(type="hidden" name="defaults" value="1")
