extends layout

mixin postTitle(p)
    if p.link === null
        a(class="ptitle" href=`/p/${p.public_id}`) #{p.title}
    else
        a(class="ptitle" href=p.link)= p.title
        | 
        span.domname1 (#{p.domain_name})

mixin postLinks(p)
    a(href=`/p/${p.public_id}`) comments(#{p.num_comments})

    if user && user.user_id == p.user_id
        | 
        a(href=`/p/${p.public_id}/edit`) edit

    if user && (user.user_id == p.user_id || user.user_id == adminUserId || user.user_id == p.lead_mod)
        | 
        a(href=`/p/${p.public_id}/delete`) delete


mixin singleLinePost(p)
    div
        +postTitle(p)

        span.pinfo1
            | 
            |by 
            a(href=`/u/${p.user_public_id}`)=p.username

            | 
            |on #{p.created_on}

            if p.castle
                | 
                |to 
                a(href=`/r/${p.castle}`)=p.castle

            | 
            +postLinks(p)

mixin multiLinePost(p)
    div
        +postTitle(p)

        div.pinfo1-under
            |by 
            a(href=`/u/${p.user_public_id}`)=p.username

            | 
            |on #{p.created_on}

            if p.castle
                | 
                |to 
                a(href=`/r/${p.castle}`)=p.castle

            | 
            +postLinks(p)

block content
    if page_title
        h1=page_title

    div.sort1o
        span.sort1
            a(class=(sort == '' ? 'curr-sort' : '') href=base_url) newest
            | 
            a(class=(sort == 'oldest' ? 'curr-sort' : '') href=`${base_url}?sort=oldest`) oldest
            | 
            a(class=(sort == 'comments' ? 'curr-sort' : '') href=`${base_url}?sort=comments`) comments
            | 
            a(class=(sort == 'last' ? 'curr-sort' : '') href=`${base_url}?sort=last`) last comment

    if num_pages == 0
        span no posts
    else if page > num_pages
        span there are only #{num_pages} page(s)
    else
        .posts

            each post in posts
                if post_layout == 'single-line'
                    +singleLinePost(post)
                else
                    +multiLinePost(post)

        if page < num_pages
            div
                -
                    let pageUrl = `${base_url}?p=${page + 1}`

                    if(sort !== '') {
                        pageUrl += `&sort=${sort}`
                    }

                a(class="more" href=pageUrl) more &gt;
