extends layout

mixin postTitle(p)
    if p.link === null
        a(class="ptitle" href=`/p/${p.public_id}`) #{p.title}
    else
        a(class="ptitle" href=p.link)= p.title
        | 
        span.domname1 (#{p.domain_name})

mixin postTags(lTags)
    if lTags.length
        | 
        |to
        each tag in lTags
            | 
            a(href=`/r/${tag}` class="tag1")=tag

mixin postLinks(p)
    span.plinks
        a(href=`/p/${p.public_id}`) comments(#{p.num_comments})

        if user && user.user_id == p.user_id
            | 
            a(href=`/p/${p.public_id}/edit`) edit
            | 
            a(href=`/p/${p.public_id}/delete`) delete


mixin singleLinePost(p)
    div
        +postTitle(p)

        span.pinfo1-single
            | 
            |by 
            a(class="puser" href=`/u/${p.user_public_id}`)=p.username

            | 
            span(class="pdate") on #{p.created_on}

            +postTags(p.tags)

            | 
            +postLinks(p)

mixin multiLinePost(p)
    div
        +postTitle(p)

        div.pinfo1
            |by 
            a(class="puser" href=`/u/${p.user_public_id}`)=p.username

            | 
            span(class="pdate") on #{p.created_on}

            +postTags(p.tags)

            | 
            +postLinks(p)

block content
    if page_tag
        h1
            |r/#{page_tag}
            if user
                | 
                a(href=`/new?group=${page_tag}` class="in-h1-url") new post

    div.sort1o
        span.sort1
            |sort:
            | 
            a(href=base_url) newest
            | 
            a(href=`${base_url}?sort=oldest`) oldest
            | 
            a(href=`${base_url}?sort=comments`) comments
            | 
            a(href=`${base_url}?sort=last`) last comment

    if posts.length
        .posts

            each post in posts
                if post_layout == 'single-line'
                    +singleLinePost(post)
                else
                    +multiLinePost(post)

        div
            -
                let pageUrl = `${base_url}?p=${page + 1}`

                if(sort !== '') {
                    pageUrl += `&sort=${sort}`
                }

            a(class="more" href=pageUrl) more &gt;
    else
        span no posts
